
<h3 class="display-4" style="text-align: center; color: #bd0909"> Lista de atividades</h3>

<div class="container-fluid">
  <div class="my-1">
    O que precisas fazer?<input class="form-control" #todoText />
    <br>
 <div class="campoAtributo"> Escolha uma data:
      <input type="date" #todoDataLimite>
    </div>
    <br>
   
    <div class="campoAtributo">Preferências:
      <select name="prioridade" #todoPrioridade>
        <option value="Alta">Preferência Alta</option>
        <option value="Média">Preferência Média</option>
        <option value="Baixa">Preferência Baixa</option>
      </select>
    </div>
    <p>
      <p>
   
    <button class="btn btn-outline-danger"
      (click)="addItem(todoText.value, todoPrioridade.value, todoDataLimite.value)">
     Adicionar
    </button>
  </div>
  <div class="table " >
    <div class="table">
      <h2 class="display-4" style="text-align: center; color: #bd0909"> Tarefas pendentes</h2>
      

      <table class="table" style="text-aling:center">
           <tbody>
             <div class="conteiner" style="text-aling:center">
            <tr>
            <th>Descrição</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <th>Prazo final</th>&nbsp;
            <th>Preferência</th>&nbsp;
            <th>Prontas</th>&nbsp;
            </tr>
             </div>
            
        <tbody>
        <tr *ngFor="let item of getTodoItems(); let i = index">
          <div *ngIf="item.prioridade=='Alta'" class="bg-warning">
            <td>{{ i + 1 }}</td>
            <td>{{ item.action }}</td>
            <td>{{ item.dataTermino }}&nbsp;</td>
            <td>{{ item.prioridade }}</td>
            <td><input type="checkbox" [(ngModel)]="item.done" /> Sim <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td> <button type="button" class="btn btn-danger" (click)="remove(item.action)">Remover</button> </td>
          </div>
           <div *ngIf="item.prioridade=='Média'" class="bg-info">
      
            <td>{{ i + 1 }}</td>
            <td>{{ item.action }}</td>
            <td>{{ item.dataTermino }}</td>
            <td>{{ item.prioridade }}</td>
            <td><input type="checkbox" [(ngModel)]="item.done" /> Sim <p> </td>
            <td> <button type="button" class="btn btn-danger" (click)="remove(item.action)">Remover</button> </td>
           </div>
           <div *ngIf="item.prioridade=='Baixa'" class="bg-light">
             <td>{{ i + 1 }}</td>
            <td>{{ item.action }}</td>
            <td>{{ item.dataTermino }}</td>
            <td>{{ item.prioridade }}</td>
            <td><input type="checkbox" [(ngModel)]="item.done" /> Sim <p> </td>
            <td> <button  type="button" class="btn btn-danger"(click)="remove(item.action)">Remover</button> </td>
           </div>
          </tr>
        </tbody>
      </table>
      
      <table class="table">
        <thead class="display-4;">
          <tr>
            <th>Concluídas</th>
            <th>Finalizadas</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of getTodoItemsConcluidas();">
          <tr >
              <td style="text-decoration:line-through;"> {{ item.action }} </td>
              <td><input type="checkbox" [(ngModel)]="item.done" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
 
 