
<h3 class="display-4" style="text-align: center; color: #bd0909"> Lista de atividades</h3>

<div class="container-fluid">
  <div class="my-1">
    Atividade:<input class="form-control" #todoText />
    <br>
 <div class="campoAtributo"> Escolha uma data:
      <input type="date" #todoDataLimite>
    </div>
    <br>
   
    <div class="campoAtributo">Preferências:
      <select name="prioridade" #todoPrioridade>
        <option value="Alta">Preferência Alta</option>
        <option value="Média">Preferência Média</option>
        <option value="Baixa">Preferência Baixa</option>
      </select>
    </div>
    <p>
      <p>
   
    <button class="btn btn-outline-danger"
      (click)="addItem(todoText.value, todoPrioridade.value, todoDataLimite.value)">
     Adicionar
    </button>
  </div>
  <div class="table " >
    <div class="table">
      <h2 class="display-4" style="text-align: center; color: #bd0909"> Preferências altas</h2>
      

      <table class="table">
      
        <thead>
          <tr>
            <th></th>
            <th>Descrição</th>
            <th>Prazo final</th>
            <th>Preferência</th>
            <th>Prontas</th>
            
          </tr>
        </thead>
        <tbody *ngFor="let item of getTodoItems(); let i = index">
          <tr *ngIf="item.prioridade=='Alta'">
            <td>{{ i + 1 }}</td>
            <td>{{ item.action }}</td>
            <td>{{ item.dataTermino }}</td>
            <td>{{ item.prioridade }}</td>
            <td><input type="checkbox" [(ngModel)]="item.done" /></td>
          
          </tr>
        </tbody>
      </table>
      
      <table class="table">
        <thead class="display-4;">
          <tr>
            <th>Concluídas</th>
            <th>Done</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of getTodoItemsConcluidas();">
          <tr *ngIf="item.prioridade=='Alta'">
              <td style="text-decoration:line-through;"> {{ item.action }} </td>
              <td><input type="checkbox" [(ngModel)]="item.done" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
 
  <div class="table ">
    <div class="table">
      <h5 class="display-4" style="text-align: center; color: #bd0909"> Preferências médias</h5>
     
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Descrição</th>
            <th>Prazo final</th>
            <th>Preferências</th>
            <th>Prontas</th>
          
          </tr>
        </thead>
        <tbody *ngFor="let item of getTodoItems(); let i = index">
          <tr *ngIf="item.prioridade=='Média'">
              <td>{{ i + 1 }}</td>
              <td>{{ item.action }}</td>
              <td>{{ item.prioridade }}</td>
              <td>{{ item.dataTermino }}</td>
              <td><input type="checkbox" [(ngModel)]="item.done" /></td>
              <td [ngSwitch]="item.done">
                <span *ngSwitchCase="true">Yes</span>
                <span *ngSwitchDefault>No</span>
              </td>
          </tr>
        </tbody>
      </table>
     
      <table class="table ">
        <thead class="table">
          <tr>
            <th>Concluídas</th>
            <th>Done</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of getTodoItemsConcluidas();">
          <tr *ngIf="item.prioridade=='Média'">
              <td style="text-decoration:line-through;"> {{ item.action }} </td>
              <td><input type="checkbox" [(ngModel)]="item.done" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  
  <div class="table ">
    <div class="ctable">
       <h5 class="display-4" style="text-align: center; color: #bd0909"> Preferências baixas</h5>
    
      <table class="table ">
        <thead>
          <tr>
            <th></th>
            <th>Descrição</th>
            <th>Prazo final</th>
            <th>Preferências</th>
            <th>Prontas</th>
            
          </tr>
        </thead>
        <tbody *ngFor="let item of getTodoItems(); let i = index">
          <tr *ngIf="item.prioridade=='Baixa'">
              <td>{{ i + 1 }}</td>
              <td>{{ item.action }}</td>
              <td>{{ item.prioridade }}</td>
              <td>{{ item.dataTermino }}</td>
              <td><input type="checkbox" [(ngModel)]="item.done" /></td>
              <td [ngSwitch]="item.done">
              
              </td>
          </tr>
        </tbody>
      </table>
    
      <table class="table">
        <thead class="table">
          <tr>
            <th>Concluídas</th>
            <th>Done</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of getTodoItemsConcluidas();">
          <tr *ngIf="item.prioridade=='Baixa'">
              <td style="text-decoration:line-through;"> {{ item.action }} </td>
              <td><input type="checkbox" [(ngModel)]="item.done" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <br><br>


</div>




  

  
  
  
  
  
  
  